div.login_box{
    background: Gray;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    border: 5px solid OrangeRed;
    padding: 10px;

    border-radius: 0 10px;

    transition: 3s;
}

div.login_box:hover {
    transition: 5s;
    box-shadow: 0 0 50px 3px OrangeRed;
}

div.registration_box{
    background: PowderBlue;
    position: absolute;
    top: 35%;
    left: 50%;

    transform: translate(-50%, -50%);
    border: 5px solid Lime;
    padding: 10px;

    border-radius: 0 10px;
    transition: 3s;
}

div.registration_box:hover {
    box-shadow: 0 0 50px 3px Lime;
    transition: 5s;
}

div.help_box{
    background: Bisque;
    position: absolute;
    top: 20%;
    left: 50%;

    transform: translate(-50%, -50%);
    border: 5px solid Cyan;
    padding: 10px;

    border-radius: 0 10px;
}

body{
    animation: show 2s;
}

body.login_page{
    background-image: url(./img/login_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

body.msg_client_page {
    background-image: url(./img/msg_client_page.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

body.registration_client_page {
    background-image: url(./img/registration_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

body.help_page {
    background-image: url(./img/help_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

button {
    border-radius: 5px;
    /*box-shadow: 0 0 0px 0 Yellow;*/
    margin: 3px;
    transition: 0.5s;
}
button:hover {
    box-shadow: 0 0 5px 0 Yellow;
    /*animation: button_shadows 2s;*/
}

input {
    border-radius: 5px 5px;
    transition: 0.5s;
}

html {
    /*overflow-y: scroll;*/
    overflow:  hidden;
}

input:focus{
    box-shadow: 0 0 10px 0 deepskyblue;
}

textarea {
    resize: none; /* Запрещаем изменять размер */
}

@keyframes show {
    from {opacity: 0;} to {opacity: 1;}
}
/*@keyframes button_shadows {
    from {box-shadow: 0px 0px 1px 0 Yellow;} to {box-shadow: 0px 0px 5px 0 Yellow;}
}*/